@import "ngx-toastr/toastr";
html, body {
  height: 100%;
  margin: 0;
  
  background-color: #171717; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
